body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.header-div{
    height: 700px;
    width: 100%;
    mix-blend-mode: multiply;
}

.inner-header-div{
    position: absolute;
    top: 0px;
}

.header-img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.Logo{
    padding: 50px 50px;
}

.navbar-items{
    width: 100%;
    width: 100vw;
    position: absolute;
    top: 0px;
    padding-top: 50px;
}

.button {
    background-color: transparent !important;
    border: 2px solid white !important;
    width: 130px;
    height: 60px;
    margin-right: 20px;
}

#dropdown-basic {
    background-color: transparent !important;
    outline: none !important;
    border: none;
    margin-right: 20px;
}


.button:focus {
    outline: none !important;
}

.header-texts-buttons {
    top: 100px;
    padding: 50px;
    max-width: 700px;
}

.header-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.header-p-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.cards{
    position: relative;
    top: -90px;
}

.card {
    width: 198px;
    height: 194px;
    margin: auto;
    border: 1px solid transparent;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 101, 163, 0.3);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    color: #0065A3;
    justify-content: center;
    
}
#oriented_div{
    padding:50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3C3939;
}

#oriented_div .oriented-title {
    font-weight: 600;
    font-size: 25px;
    color: #02134F;
}

#oriented_div .oriented-p {
    color: #3C3939;
}

.stocks{
    min-height: 700px;
    width: 100%;
    background-image: linear-gradient(#02134F 40.14%, rgba(2, 19, 79, 0) 73.74%), linear-gradient(356.39deg, #02134F 46.49%, rgba(2, 19, 79, 0) 55.52%);
}

.name-provide{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    /* or 109% */

    letter-spacing: 0.04em;

    color: #FFFFFF;
}
.stock-img{
    filter: brightness(75%);
    height: 500px!important;
    position: relative;
    top: -150px;
    right: -13%;
}

.stocks-p h1{
    padding-left: 80px;
}
stocks-p p{
    padding-left: 80px;
}


.stocks-p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding-left: 150px;
    padding-top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}



.stock-card {
    width: 253px;
    min-height: 240px;
    height: auto;
    background: #FFFFFF;
    box-shadow: -4px 4px 5px rgba(15, 15, 15, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 5px;
    
}

.stock-card p {
    padding-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #3C3939;
}

.blue-div {
    min-height: 400px;
    background: #215da1c9;
    margin-left: 20px;
}

.blue-div .inner-div {
    width: 400px;
    margin: 15% auto;
}

.blue-div p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blue-div button {
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(23, 40, 154, 0.1);
    color: #0065A3;
    margin-top: 40px;
}

.women-section img {
    height: 500px;
}


.trade-us{
    width: 100%;
    min-height: 700px;
    height: auto;
}

.trade-us img{
    filter: brightness(75%);
}

.trade-us {
    min-height: 1100px;
    height: auto;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: black;
    background: url('./../../assets/Home/building.png') no-repeat;
    background-size: cover;
    padding:200px ;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: brightness(75%);
}

.blue-div button {
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(23, 40, 154, 0.1);
    color: #0065A3;
    margin-top: 40px;
}


.steps .span-tag {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3C3939;
    position: relative;
    top: 40px;
    text-align: left;
}

.steps {
    min-height: 300px;
    max-height: auto;
    font-family: Raleway;
    font-style: normal;
    line-height: 52px;
    text-transform: uppercase;
    color: #02134F;
    text-align: left;
    padding: 100px!important;
}

.footer {
    min-height: 800px;
    height: auto;
    background-image: url('./../../assets/Home/footer.png') ;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer-blue-box .fast-links {
    margin-top: 50px;
}

.footer-blue-box .fast-links a{
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:10px;
}

.footer-blue-box {
    width: 100%;
    min-height: 800px;
    height: auto;
    opacity: 0.7;
    background-color: #003B7E;
    padding: 100px;
    mix-blend-mode: hard-light;
}

.all-right{
    background-color: #FFFFFF;
    height: 50px;
    color: #02134F;;
    text-align: center;
    position: relative;
    padding-top:10px ;
}

.name-provide{
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    /* or 109% */

    letter-spacing: 0.04em;

    color: #FFFFFF;
}



@media only screen and (max-width: 600px) {
    h1 , h2{
        color: #02134F;
    }
    .name-provide{
        padding-left: 0px!important;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */

        letter-spacing: 0.04em;

        /* Main and copy */

        color: #02134F;
    }
    .footer {
        text-align: center;
    }
    .footer-blue-box .footer-btn-row{
        margin-top: 20px;
    }
    .footer-blue-box .footer-btn{
        margin: 0 auto!important;
        margin-top: 20px;
    }
    .businessman-img{
        order: 3;
    }
    .business-img-p{
        order: 1;
    }
    .oriented-p{
        order: 2;
    }
    .steps,.women-section{
        display: none;
    }
    .trade-us{
        background: linear-gradient(#02134F, rgba(2, 19, 79, 0.34375));
        color: #FFFFFF;
        padding: 10px;
    }
    .stocks{
        background:none ;
    }
    .stock-img{
        display: none;
    }
    .stocks-p{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #3C3939;
        margin: 0 auto;
        padding-left: 0px;
        text-align: center;
    }
    .stocks-p h1,.stocks-p p{
        padding-left: 0px!important;
    }
    .stock-card{
        background: transparent;
        box-shadow: none;
        text-align: center;
    }
    .businessman-img{
        margin-top: 20px;
    }
    .business-img-p,.oriented-p{
        text-align: center;
        width: 100%!important;
    }
    .cards{
        order: 2!important;
        top: 0px!important;
    }

    .card{
        height: 48px;
        margin-top: 20px;
    }
    .trade-us-row{
        margin-top: 10px!important;
    }
    .trade-us-row div{
        padding-top: 20px;
    }
    .login-btn{
        display: none!important;
    }
}